.profile__image {
    width: 120px;
    height: 120px;
    object-fit: cover;
    border-radius: 50%;
}

@media screen and (max-width: 479px) {
    .profile__image {
        margin: 14px auto 17px;
    }
}