.popup__form {
    display: flex;
    flex-direction: column;
    padding-top: 54px;
    margin: 0 auto;
}

@media screen and (max-width: 510px) {
    .popup__form {
        padding-top: 75px;
        width: calc(100% - 2 * 22px);
    }
}