.popup__form {
    display: flex;
    flex-direction: column;
    margin-bottom: 37px;
}

@media screen and (max-width: 510px) {
    .popup__form {
        width: calc(100% - 2 * 22px);
        margin: 0 auto;
    }
}