.profile__add-button {
    width: 150px;
    height: 50px;
    cursor: pointer;
    padding: 0;
    background-image: url('../../../images/icon__add.svg');
    background-position: center;
    background-repeat: no-repeat;
    background-color: transparent;
    border: 2px solid #fff;
    margin-top: 5px;
    border-radius: 2px;
}

.profile__add-button:hover {
    opacity: 0.6;
}

@media screen and (max-width: 957px) {
    .profile__add-button {
        margin-top: 47px;
        width: 68%;
        background-size: 16px;
    }
}


@media screen and (max-width: 479px) {
    .profile__add-button {
        width: 100%;
        margin-top: 0;
    }
}